* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 40px;
    color: #9e9e9e;
}

html {
    padding-right: 20px;
    padding-left: 20px;
}

nav {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

button {
    border-style: none;
    font-weight: bold;
    color: #fff;
}

button#copy {
    background-color: #66ff87;
    margin-left: 30px;
}

button#generate{
    background-color: #0f73ff;
}

#passwordDiv {
    margin-top: 30px;
    align-items: center;
    
}
i {
    color: #fff;
}

h6 {
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: groove;
    border-color: rgba(0, 0, 0, 0.1);
}

#brand-logo {
    padding-left: 20px;
    font-size: 25px;
}